html {
  font-family: arial;
}

table {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  font-size: 130px;
}

.submit {
  display: block;
  margin: 10px auto;
}
